<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>404 : File not found</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" /><meta http-equiv="refresh" content="5;url=http://bdsgialai.com/" />
    <META NAME="robots" CONTENT="noindex,follow"> 
<style type="text/css">
body{
	background:url(/Content/skins/images/bg.png);
	margin:0;
}
.wrap{
	margin:0 auto;
	width:1000px;
}
.logo{
	text-align:center;
}	
.logo p span{
	color:lightgreen;
}	
.sub a{
	color:white;
	background:rgba(0,0,0,0.3);
	text-decoration:none;
	padding:5px 10px;
	font-size:13px;
	font-family: arial, serif;
	font-weight:bold;
}	
.footer{
	color:#555;
	position:absolute;
	right:10px;
	bottom:10px;
	font-weight:bold;
	font-family:arial, serif;
}	
.footer a{
	font-size:16px;
	color:#ff4800;
}	
</style>
</head>
<body>
 <img src="/Content/skins/images/label.png"> 
 <div class="wrap">
    <div class="logo">
		<img src="/Content/skins/images/woody-404.png">
			<div class="sub">
			  <p><a href="http://bdsgialai.com/">Go Back to http://bdsgialai.com/</a></p>
			</div>
     </div>
  </div>
	<!--<div class="footer">
	 Design by-<a href="http://webviet24h.com">Webviet24h.com</a>
	</div>-->
</body>
</html>
