#floatingbuttons
{
position: fixed;
top:30%;
float: left;
padding: 0px 0px 3px;
box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
background: none repeat scroll 0% 0% rgb(255, 255, 255);
border-radius: 5px 5px 5px 5px;
z-index: 10;
left: 10px;
border: 0px solid rgb(128, 128, 128);
}
    
#floatingbuttons .floatbutton
{
float: left;
clear: both;
margin: 5px 4px 0 4px;
}
.addbuttons
{
clear: both;
text-align: center;
padding-top: 5px;
}
.addbuttons a span.getfloat, .addbuttons a span.sharebuttons
{
color: #fff;
background: none;
font-family: arial, sans-serif;
display: block;
font-size: 9px;
font-weight: bold;
text-decoration: none;
line-height: 11px;
}
.addbuttons a:hover span
{
color: #fff;
background: none;
text-decoration: underline;
}